<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap_integration.php"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="green">
            <directory>green</directory>
        </testsuite>
        <testsuite name="red">
            <directory>red</directory>
        </testsuite>
    </testsuites>
</phpunit>
